NEXT_PUBLIC_SUPABASE_URL=seulink
NEXT_PUBLIC_SUPABASE_ANON_KEY=suachave_anon
SUPABASE_SERVICE_ROLE_KEY=suachave_role

NEXT_PUBLIC_WHATSAPP_NUMBER=5548999999999
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_GOOGLE_MAPS_KEY=
